<div class="parent">
    <div class="top">
        <form [formGroup]="form">
            <div class="group revenue"[ngStyle]="{'height':colorDiv.clientHeight+'px'}">
                <div class="heading">Select Revenue</div>
                <div class="formGroup" *ngFor="let month of months;let i = index;">
                    <label [for]="month" class="name">{{month}}</label>
                    <input type="number" placeholder="Enter revenue amount" [formControlName]="month"
                        (input)="monthValue($event,i)">
                        <p class="error" *ngIf="form.get(month).hasError('required') && (form.get(month).touched || submitClicked)">Please enter {{month}} month revenue.</p>
                </div>
            </div>
            <div class="group color" [formGroup]="color" #colorDiv>
                <div class="heading">Select color</div>
                <mat-form-field appearance="fill" *ngFor="let choice of colorsChoice;let i=index">
                    <mat-label>{{months[i]}} color</mat-label>
                    <mat-select [formControlName]="choice" name="color">
                        <mat-option *ngFor="let color of colors" [value]="color" class="name">
                            {{color}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="group chart" [formGroup]="type" [ngStyle]="{'height':colorDiv.clientHeight+'px'}">
                <div class="heading">Select Chart type</div>
                <mat-radio-group formControlName="radio" class="group" style="align-items: flex-start;">
                    <mat-radio-button class="example-radio-button" *ngFor="let chart of chartTypes;let i=index"
                        (change)="select($event)" [value]="chart" class="name">
                        {{chart}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </form>
    </div>
    <div class="button">
        <button type="button" (click)="submit()" [disabled]="form.invalid">Submit</button>
    </div>
    <div class="bottom">
        <app-chart [Type]="selectedType" [Revenue]="form.value" [Color]="color.value" [Submitted]="submitted"></app-chart>
    </div>
</div>